* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 15px;
}
.club-logo {
    width: 128px;
    height: 128px;
    margin: 15px;
}
.club-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px;
}
.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px;
}
.achievement {
    font-size: 1.1em;
    margin: 15px;
}
.member {
    font-size: 1.1em;
    margin: 5px 15px;
}