* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
button {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  box-shadow: #555 5px 10px 15px;
}
button:hover {
  background-color: #ddd;
  box-shadow: #666 5px 10px 20px;
}
button:active {
  background-color: #ccc;
}
